<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="components.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Text</h1>
        <nav>
            <button>Hem</button>
            <button>Mina verktyg</button>
            <button>Hyra verktyg</button>
        </nav>
    </header>

    <section class="verktyg">
        <img src="../photos/cutting-granite-stones-8028375_640.jpg" alt="Bild">
        <article>
            <h2>Vertygsnamn</h2>
            <button class="verktyg-btn">Boka!</button>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores quisquam accusantium, molestiae corrupti autem quia possimus eos reprehenderit saepe sapiente exercitationem deleniti obcaecati doloribus reiciendis dolor quis enim nesciunt cupiditate.</p>
            <p>Ledig f.o.m: xx-xx-xx</p>
        </article>
    </section>

</body>
</html>
